DATABASE_URL=postgresql://user:user@localhost:5432/ksi

FRONTEND_BASE_URL=http://localhost:5173
BACKEND_BASE_URL=http://localhost:3000

BETTER_AUTH_SECRET=better_auth_secret_goes_here
BETTER_AUTH_URL=http://localhost:3000
OAUTH2_DISCORD_ID=1234567890
OAUTH2_DISCORD_SECRET=discord_oauth2_secret_goes_here

DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_ROLE_DEV=
DISCORD_ROLE_ADMIN=
