@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --font-mono: "Space Mono";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(14% 0.004 49.25);
  --color-primary: oklch(0.53 0.17 256.43);
  --color-primary-content: oklch(0 0 0);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(26% 0.065 152.934);
  --color-neutral: oklch(0.2376 0.0036 345.53);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --font-mono: "Space Mono";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
 --color-primary: oklch(0.81 0.12 232.17);
  --color-primary-content: oklch(0 0 0);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(0.71 0.18 20.16);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

:root {
  font-family: "Space Grotesk", sans-serif;
}

@utility font-lora {
  font-family: "Lora", serif;
}

@utility btn-outline {
  @apply border border-base-300;
}

@utility input {
  @apply outline-0 focus:outline-0 focus:border-primary focus-visible:outline-0 focus-visible:border-primary focus-within:outline-0 focus-within:border-primary transition-colors;
}

@utility textarea {
  @apply outline-0 focus:outline-0 focus:border-primary focus-visible:outline-0 focus-visible:border-primary focus-within:outline-0 focus-within:border-primary transition-colors;
}

@utility select {
  @apply outline-0 focus:outline-0 focus:border-primary focus-visible:outline-0 focus-visible:border-primary focus-within:outline-0 focus-within:border-primary transition-colors;
}

@layer base {
  h1 {
    @apply w-max text-[clamp(3rem,3cqw,6rem)] font-bold border-b border-b-base-200 mb-8;
  }
  h2 {
    @apply text-[clamp(1.5rem,2cqw,4rem)];
  }
  p {
    @apply text-[20px]
  }
}

@utility markdown-file {
  h1 {
    @apply w-max text-[clamp(3rem,3cqw,6rem)] font-bold border-b border-b-base-200 mb-8;
  }
  h1::before {
    content: "#";

    opacity: 0.2;
    @apply text-[clamp(3rem,3cqw,6rem)] font-medium mr-2;
  }
  p {
    @apply text-[24px] leading-relaxed tracking-wide;
  }
  h2 {
    @apply text-[clamp(1.5rem,2cqw,4rem)] my-4;
  }
  h2::before {
    content: "##";

    opacity: 0.2;
    @apply text-[clamp(1.5rem,2cqw,4rem)] mr-2;
  }
  hr {
    @apply border-base-300 my-8;
  }
  a {
    @apply bg-primary/10 hover:bg-primary/20 underline-offset-8;
  }
}
